<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
    <head>
        {{ partial "head.html" . }}
    </head>

    <div style="min-height: 100ph;">
        <div class="cv-header-outer">
            <div class="cv-header-inner">
                <!-- <img style="float: right; border-radius: 50%; height: 70%; margin: 10px; margin-top: 0px;" src="/Images/pfp.jpg"> Commneted out until I have one that's a bit more professional(?) -->
                <h1 style="margin: 0; text-align: left;">Matt Ware</h1>
                <h4 style="margin-top: 0; margin-bottom: 5px;">Game Programmer</h3>
            </div>
        </div>

        <div class="cv-personal-header-outer">
            <div class="cv-personal-header-inner">
                <table style="color:black; width: 100%; text-align: center;">
                    <tr class="space-under" style="vertical-align: top;">
                        <td><b>Phone</b><br>+44 07703693123</td>
                        <td><b>Email</b><br>mattbware3@gmail.com</td>
                        <td><b>Address</b><br>146a Brockhurst Road<br>Gosport<br>PO12 3BA</td>
                    </tr>
                    <tr>
                        <td><b>WWW</b><br><a href="https://www.mattware.dev/">mattware.dev</a></td>
                        <td><b>GitHub</b><br><a href="https://www.github.com/mattieof">github.com/mattieof</a></td>
                        <td><b>LinkedIn</b><br><a href="https://www.linkedin.com/in/mattbware/">linkedin.com/in/mattbware</a></td>
                    </tr>
                </table>
            </div>
        </div>

        <div style="width: 80%; margin: auto;">
            <p style="margin-bottom: 3px; margin-top: 25px; color: grey; font-style: normal;">To: </p>
            <p style="margin: 0;">{{ .Params.AddressLine1 }}</p>
            <p style="margin: 0;">{{ .Params.AddressLine2 }}</p>
            <p style="margin: 0;">{{ .Params.AddressLine3 }}</p>
            <p style="margin: 0;">{{ .Params.AddressLine4 }}</p>
            <p style="margin: 0;">{{ .Params.AddressLine5 }}</p>
            <p style="color: grey; margin: 0;">{{ time.Format "Monday, January 2, 2006" .Date }}</p>

            <div></div>

            <p style="font-weight: bold;">Dear {{ .Params.Addressee }},</p>
            {{ .Content }}
            <p>Thank you for your time and consideration. I look forward to hearing from you.</p>
            <br>
            <p>{{ .Params.SignOff }},</p>
            <p style="margin: 0; font-weight: bold;">Matt Ware</p>
            <p style="margin: 0">{{ partial "svg.html" (dict "name" "phone" "width" "19" "height" "19") }}&nbsp;&nbsp;&nbsp;+44 07703693123</p>
            <p style="margin: 0">{{ partial "svg.html" (dict "name" "email" "width" "19" "height" "19") }}&nbsp;&nbsp;&nbsp;mattbware3@gmail.com</p>
        </div>

    {{ partial "javascript.html" . }}
</html>
