<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
    <head>
        {{ partial "head.html" . }}
    </head>

    {{ block "body" . }}
        <body style="height: 100%;">
    {{ end }}
    
        <div style="min-height: 100ph;">
            <div class="cv-header-outer">
                <div class="cv-header-inner">
                    <img style="float: right; border-radius: 50%; height: 70%; margin: 10px; margin-top: 0px;" src="/Images/pfp.jpg">
                    <h1 style="margin: 0; text-align: left;">Matt Ware</h1>
                    <h4 style="margin-top: 0; margin-bottom: 5px;">Game Programmer</h3>
                </div>
            </div>

            <div class="cv-personal-header-outer">
                <div class="cv-personal-header-inner">
                    <table style="color:black; width: 100%; text-align: center;">
                        <tr class="space-under">
                            <td><b>Phone</b><br>Redacted to prevent scraping</td>
                            <td><b>Email</b><br>mattbware3@gmail.com</td>
                            <td><b>Location</b><br>Portsmouth, England</td>
                        </tr>
                        <tr>
                            <td><b>WWW</b><br><a href="https://www.mattware.dev/">mattware.dev</a></td>
                            <td><b>GitHub</b><br><a href="https://www.github.com/mattieof">github.com/mattieof</a></td>
                            <td><b>LinkedIn</b><br><a href="https://www.linkedin.com/in/mattbware/">linkedin.com/in/mattbware</a></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div style="width: 100%; margin: auto;">
                <div class="cv-header-div">
                    <h3>Summary</h3>
                </div>
                <div class="cv-content-div-outer">
                    <div class="cv-content-div-inner">
                        <p>Software programmer specialising in games, eager to help create powerful, enjoyable, and well-performing interactive software.</p>
                    </div>
                </div>

                <!-- <div class="cv-header-div">
                    <h3>Projects</h3>
                </div> -->

                <div class="cv-header-div">
                    <h3>Education</h3>
                </div>
                <div class="cv-content-div-outer">
                    <div class="cv-content-div-inner">
                        <p style="font-size: 20px; margin-bottom:0"><b>UAL Level 3 Extended Diploma in Games Development</b></p>
                        <p style="margin-top: 0"><b>Fareham College</b>, Sep 2021 - July 2023</p>
                        <p style="font-size: 20px; margin-bottom:0"><b>GCSEs</b>, including a <b>9 in Film Studies</b>, <b>8 in Computer Science</b>, <b>and 7 in Maths</b></p>
                        <p style="margin-top: 0"><b>Brune Park</b>, Sep 2019 - July 2021</p>
                    </div>
                </div>

                <div class="cv-header-div">
                    <h3>Skills</h3>
                </div>
                <div class="cv-content-div-outer">
                    <div class="cv-content-div-inner" style="width: 90%; margin: auto;">
                        <table cellspacing="10" style="margin:auto;">
                            <tr style="vertical-align: center;">
                                <td>Unity/C# Programming (VS/Rider)<br></td>
                                <td><div class="progress-bar-frame"><div class="progress-bar-fill" style="width: 75%;"></div></div></td>
                                <td>C++ Programming (VS/Rider)</td>
                                <td><div class="progress-bar-frame"><div class="progress-bar-fill" style="width: 60%;"></div></div></td>
                            </tr>
                            <tr style="vertical-align: center;">
                                <td>Writing documentation</td>
                                <td><div class="progress-bar-frame"><div class="progress-bar-fill" style="width: 60%;"></div></div></td>
                                <td>HTML/CSS/JavaScript</td>
                                <td><div class="progress-bar-frame"><div class="progress-bar-fill" style="width: 60%;"></div></div></td>
                            </tr>
                            <tr style="vertical-align: center;">
                                <td>Unreal Engine (CPP/BP)</td>
                                <td><div class="progress-bar-frame"><div class="progress-bar-fill" style="width: 60%;"></div></div></td>
                                <td>3D Modelling (Blender)</td>
                                <td><div class="progress-bar-frame"><div class="progress-bar-fill" style="width: 60%;"></div></div></td>
                            </tr>
                            <tr style="vertical-align: center;">
                                <td>Adobe/Substance Suite</td>
                                <td><div class="progress-bar-frame"><div class="progress-bar-fill" style="width: 40%;"></div></div></td>
                                <td>Level Design (UE, Hammer)</td>
                                <td><div class="progress-bar-frame"><div class="progress-bar-fill" style="width: 40%;"></div></div></td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            
            <!-- <table style="width: 100%; min-height: 100vh; height: 100%; margin: 0; border-spacing: 0; border-collapse: collapse;">
                <tr style="vertical-align: top">
                    <td style="width: 60%; padding-left: 11%;">
                        <p>Hello, stuff will go here!</p>
                    </td>
                    <td class="sidebar">
                        <h3><b>Personal Information</b></h3>
                        <hr>
                        <p><b>Phone</b></p>
                        <p>+44 07703-693123</p>
                        <p><b>Email</b></p>
                        <p>mattbware3@gmail.com</p>
                        <p><b>Location</b></p>
                        <p>Gosport, England</p>
                        <p><b>www</b></p>
                        <p>mattware.dev</p>
                        <p><b>GitHub</b></p>
                        <p>github.com/mattieof</p>
                    </td>
                </tr>
            </table> -->
        </div>
        

        {{ partial "javascript.html" . }}
    </body>
</html>
