<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
    <head>
        {{ partial "head.html" . }}
    </head>

    {{ block "body" . }}
        <body style="height: 100%;">
    {{ end }}
    
        <div>
            <div class="cv-header-outer">
                <div class="cv-header-inner">
                    <h1 style="margin: 0; text-align: left;">Matt Ware</h1>
                    <h4 style="margin-top: 0; margin-bottom: 5px;">Game Programmer</h3>
                </div>
            </div>

            <div class="cv-personal-header-outer">
                <div class="cv-personal-header-inner">
                    <table style="color:black; width: 100%; text-align: center;">
                        <tr class="space-under">
                            <td><b>Phone</b><br>+44 07703-693123</td>
                            <td><b>Email</b><br>mattbware3@gmail.com</td>
                            <td><b>Location</b><br>Portsmouth, England</td>
                        </tr>
                        <tr>
                            <td><b>WWW</b><br><a href="https://www.mattware.dev/">mattware.dev</a></td>
                            <td><b>GitHub</b><br><a href="https://www.github.com/mattieof">github.com/mattieof</a></td>
                            <td><b>LinkedIn</b><br><a href="https://www.linkedin.com/in/mattbware/">linkedin.com/in/mattbware</a></td>
                        </tr>
                    </table>
                </div>
            </div>

            <div style="width: 80%; margin: auto;">
                <h3>Summary</h3>
                <p>Software programmer specialising in games, eager to help create powerful, enjoyable, and well-performing interactive software.</p>
                <h3>Projects</h3>
                <h3>Education</h3>
                <h3>Skills</h3>
            </div>
            
            <!-- <table style="width: 100%; min-height: 100vh; height: 100%; margin: 0; border-spacing: 0; border-collapse: collapse;">
                <tr style="vertical-align: top">
                    <td style="width: 60%; padding-left: 11%;">
                        <p>Hello, stuff will go here!</p>
                    </td>
                    <td class="sidebar">
                        <h3><b>Personal Information</b></h3>
                        <hr>
                        <p><b>Phone</b></p>
                        <p>+44 07703-693123</p>
                        <p><b>Email</b></p>
                        <p>mattbware3@gmail.com</p>
                        <p><b>Location</b></p>
                        <p>Gosport, England</p>
                        <p><b>www</b></p>
                        <p>mattware.dev</p>
                        <p><b>GitHub</b></p>
                        <p>github.com/mattieof</p>
                    </td>
                </tr>
            </table> -->

        </div>

        {{ partial "javascript.html" . }}
    </body>
</html>
