<!DOCTYPE html>
<html lang="{{ .Site.Language }}">
    <head>
        {{ partial "head.html" . }}
    </head>

        <body style="height: 100%;">
            <div style="margin: 30px;">
                <h2 style="margin: 0">Matt Ware</h2>
                
                <p style="margin: 0">{{ partial "svg.html" (dict "name" "phone" "width" "19" "height" "19") }}&nbsp;&nbsp;&nbsp;+44 07703693123</p>
                <p style="margin-top: 5px;">{{ partial "svg.html" (dict "name" "email" "width" "19" "height" "19") }}&nbsp;&nbsp;&nbsp;mattbware3@gmail.com</p>
            </div>
            {{ partial "javascript.html" . }}
        </body>
    
</html>
