/* Must be loaded before everything else */
@import "normalize";
@import "prism";
/* Main stuff */
@import "variables";
@import "mixins";
@import "fonts";
@import "buttons";
/* Modules */
@import "header";
@import "logo";
@import "menu";
@import "main";
@import "list";
@import "single";
@import "footer";
@import "sharing-buttons";
@import "tables";
@import "404";

.flex { display : flex }
.flex-wrap { flex-wrap: wrap }

.scrollToTop-show {
    opacity: 1;
    margin-bottom: 0px;
}

.scrollToTop-hide {
    opacity: 0;
    margin-bottom: -60px;
}

#scrollToTop {
    position: fixed;
    bottom: 20px;
    right: 30px;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    padding: 10px;
    border-radius: 24px;

    transition-property: all;
    transition-duration: 1s;
    transition-delay: 0s;
}

.social-button {
    display: inline-block;
    transition-property: all;
    transition-duration: 0.4s;
    transition-delay: 0s; 
}

.social-button:hover {
    scale: 1.4;

    [data-theme=dark] & {
        color: $dark-hovered;
    }
    
    [data-theme=light] & {
        color: $dark-hovered;
    }
}

.always-white {
    color: $dark-color;
}

.always-white:hover {
    color: $dark-hovered;
}

.end-of-section {
    background: linear-gradient(180deg, black 0%, transparent 100%);
    height: 100px;
}

#scrollToTop:hover {
    color: #ff5722;
}

.wip-banner {
    background: orange;
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.no-underline {
    -webkit-text-decoration-line: none;
    text-decoration-line: none;
}

.animate-bounce {
    -webkit-animation: bounce 1s infinite;
    animation: bounce 1s infinite;
}

.rainbow-text {
    animation: scroll 2s infinite linear;
    //animation-direction: alternate;
    background: linear-gradient(to right, #ef5350, #f48fb1, #7e57c2, #2196f3, #26c6da, #43a047, #eeff41, #f9a825, #ff5722);
    width: 1em;
    background-size: 200% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.portfolio-header {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 3vw;
    color: $light-background-header;

    transition-property: all;
    transition-duration: 0.4s;
    transition-delay: 0s; 
}

.portfolio-header:hover {
    font-size: 3.5vw;
    color: white;
}

.portfolio-desc {
    text-align: left;
    color: $dark-color;
}

.homepage-header { 
    background: rgb(76,183,255);
    background: linear-gradient(90deg, rgba(76,183,255,1) 0%, rgba(226,0,0,1) 25%, rgba(60,194,27,1) 75%, rgba(76,183,255,1) 100%); 
    width: 100%;
    background-size: 200% 100%;
    padding-top: 15px;
    padding-bottom: 15px;
    //margin-bottom: 0;
    animation: scroll 6s infinite linear;
    font-size: 3.1vw;
    font-weight: bold;
    color: white;
    transition-property: all;
    transition-duration: 0.4s;
    transition-delay: 0s; 
}

.color-b {
    background: rgb(252,176,69);
    background: linear-gradient(90deg, rgba(252,176,69,1) 11%, rgba(131,58,180,1) 44%, rgba(253,29,29,1) 77%, rgba(252,176,69,1) 100%); 
    background-size: 200% 100%;
}

.color-c {
    background: rgb(184,98,180);
    background: linear-gradient(90deg, rgba(184,98,180,1) 10%, rgba(195,34,34,1) 30%, rgba(253,187,45,1) 50%, rgba(113,184,98,1) 70%, rgba(98,122,184,1) 90%, rgba(184,98,180,1) 100%); 
    background-size: 200% 100%;
}

.color-d {
    background: rgb(7,0,184);
    background: linear-gradient(90deg, rgba(7,0,184,1) 0%, rgba(1,227,142,1) 30%, rgba(0,255,136,1) 60%, rgba(7,0,184,1) 100%); 
    background-size: 200% 100%;
}

.game {
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 0;
    background: black;
}

.homepage-header:hover {
    font-size: 3.6vw;
}

.tr {
    vertical-align: top;
}

@keyframes scroll {
    0% {
        background-position: 0 0;
    }
    100% {
        background-position: 200% 0; // erm
    }
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(-25%);
        -webkit-animation-timing-function: cubic-bezier(.8,0,1,1);
        animation-timing-function: cubic-bezier(.8,0,1,1);
    }
    50% {
        transform: none;
        -webkit-animation-timing-function: cubic-bezier(0,0,.2,1);
        animation-timing-function: cubic-bezier(0,0,.2,1);
    }
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fadeInDelayed {
    0% { opacity: 0; }
    66% { opacity: 0; }
    100% { opacity: 1; }
}

* {box-sizing:border-box}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
