{{ define "body" }}
    <body class="{{ if .Site.Params.backgroundImage }} background-image" style="background-image: url('{{ .Site.Params.backgroundImage }}');" {{ else }}"{{ end }}>
{{ end }}

{{ define "main" }}
    <main aria-role="main" style="width: 100%">
        <script src="/homepage.js" defer></script>
        <link rel="stylesheet" href="/OwlCarousel/assets/owl.carousel.min.css">
        <link rel="stylesheet" href="/OwlCarousel/assets/owl.theme.default.min.css">
        <style>.embedtool {position: relative;height: 0;padding-top: 56%;overflow: hidden;max-width: 100%;} .embedtool iframe, .embedtool object, .embedtool embed { position: absolute; top: 0; left: 0; width: 100%; height: 100%; } .embedtool .fluid-vids {position: initial !important}</style>

        <div>
            {{/*  <div class="wip-banner"><span style="color: white;">{{ partial "warning-svg.html" }}&nbsp;&nbsp;(Work in progress, check back later!)&nbsp;&nbsp;{{ partial "warning-svg.html" }}</span></div>  */}}
            <div class="mobile-warning-banner"><span style="color: white;">This site is designed for larger, desktop screens. You can still use it but, for now, it may be a little hard to read!</span></div>

            <button onclick="scrollToTop()" id="scrollToTop" title="Go to top" class="scrollToTop-hide"><svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" style="width: 20px; height: 20px;"><path fill="currentColor" d="M214.6 41.4c-12.5-12.5-32.8-12.5-45.3 0l-160 160c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L160 141.2V448c0 17.7 14.3 32 32 32s32-14.3 32-32V141.2L329.4 246.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3l-160-160z"></path></svg></button>

            {{ if .Site.Params.Portrait.Path }}
               <img src="{{ .Site.Params.Portrait.Path }}" class="circle" alt="{{ .Site.Params.Portrait.Alt }}" style="max-width:{{ .Site.Params.Portrait.MaxWidth }}" />
            {{ end }}

            <div style="animation: fadeIn 2s;">
                <p style="padding-bottom: 25vh;"></p>
                <h1 style="margin-bottom: 0px; margin-left: 7px;">{{ .Site.Title }}</h1>
                {{- with .Site.Params.social }}
                        <div>
                            {{ partial "social-icons.html" . }}
                            &nbsp;<a href="mailto:mattbware3@gmail.com" target="_blank" rel="noopener" title="Email" class="tooltip social-button">{{ partial "svg.html" (dict "name" "email") }}
                                <span class="tooltiptext">mattbware3@gmail.com</span>
                            </a>&nbsp;
                        </div>
                {{- end }}
                <p style="padding-bottom: 15vh;"></p>
                <div style="animation: fadeInDelayed 1.5s; padding-bottom: 20vh;"><a href="#things" class="no-underline"><p style="font-size: 40px;" class="animate-bounce">👇</p></a></div>
                <p id="things" style="padding-bottom: 5vh;"></p>
            </div>

            <p style="font-size: 25px;"><b>I make <span class="rainbow-text">things</span>, like: </b></p>

            <div style="justify-content: center; gap: 10px;" class="flex flex-wrap">
                <button onclick="window.location.href = '#games'">🎮 Games</button>
                <button onclick="window.location.href = '#tools'">⚙ Game Engines/Tooling</button>
                <button onclick="window.location.href = '#web'">🌐 Web Stuff</button>
                <button onclick="window.location.href = '#software'">💻 Other Software</button>
            </div>

            <div id="games" class="homepage-header" style="margin-top:125px;">GAMES</div>

            <div id="scrap-resurrection" class="game">
                <div style="padding-left:25vw; padding-right: 25vw; text-align:left;">
                    <h2 class="portfolio-header">SCRAP RESURRECTION</h2>
                    <p class="portfolio-desc">A character-switching 2D platformer/shooter.</p>

                    <div class="embedtool"><iframe src="https://www.youtube.com/embed/WtQwGHIjugo" frameborder="0" allowfullscreen></iframe></div>
                    
                    <div class="owl-carousel owl-theme">
                        <img onclick="img_box(this)" src="/Images/ScrapResurrection/0_Menu.png">
                        <img onclick="img_box(this)" src="/Images/ScrapResurrection/1_OpeningRoom.png">
                        <img onclick="img_box(this)" src="/Images/ScrapResurrection/2_Credits.png">
                        <img onclick="img_box(this)" src="/Images/ScrapResurrection/4_Death.png">
                        <img onclick="img_box(this)" src="/Images/ScrapResurrection/5_FireRoom.png">
                        <img onclick="img_box(this)" src="/Images/ScrapResurrection/7_Level2Opening.png">
                        <img onclick="img_box(this)" src="/Images/ScrapResurrection/8_CharacterSwitching.png">
                        <img onclick="img_box(this)" src="/Images/ScrapResurrection/9_Dash.png">
                        <img onclick="img_box(this)" src="/Images/ScrapResurrection/6_EndScreen.png">
                    </div>

                    <table style="border-spacing:20px; color:#a9a9b3;">
                        <tr>
                            <td><b>Engine</b></td>
                            <td>GameMaker</td>
                        </tr>
                        <tr>
                            <td><b>Genre</b></td>
                            <td>Action-Platformer</td>
                        </tr>
                        <tr>
                            <td><b>Date</b></td>
                            <td>May/June 2022</td>
                        </tr>
                        <tr>
                            <td><b>Role</b></td>
                            <td>Sole programmer, sound design, some sprites</td>
                        </tr>
                    </table>
                    <br>
                    <a href="" target="_blank" rel="noopener" title="View and play the game on itch.io" class="social-button always-white">{{ partial "svg.html" (dict "name" "itchio") }} </a>
                    &nbsp;&nbsp;
                    <a href="https://github.com/MattieOF/ScrapResurrection" target="_blank" rel="noopener" title="View the source code on GitHub" class="social-button always-white">{{ partial "svg.html" (dict "name" "github") }} </a>
                </div>
            </div>


            <div id="subhuman" class="game">
                <div style="padding-left:25vw; padding-right: 25vw; text-align:left;">
                    <h2 class="portfolio-header">SUBHUMAN</h2>
                    <p class="portfolio-desc">A top-down submarine survival horror.</p>

                    <div class="embedtool"><iframe src="https://www.youtube.com/embed/jRYUqw9PAiw" frameborder="0" allowfullscreen></iframe></div>
                    
                    <div class="owl-carousel owl-theme">
                        <img onclick="img_box(this)" src="/Images/Subhuman/0_PressEnterScreen.png">
                        <img onclick="img_box(this)" src="/Images/Subhuman/3_OpeningRoom.png">
                        <img onclick="img_box(this)" src="/Images/Subhuman/6_Inventory.png">
                        <img onclick="img_box(this)" src="/Images/Subhuman/10_ReadingNote.png">
                        <img onclick="img_box(this)" src="/Images/Subhuman/12_TickInVent.png">
                        <img onclick="img_box(this)" src="/Images/Subhuman/18_Lab.png">
                        <img onclick="img_box(this)" src="/Images/Subhuman/20_Bossfight.png">
                        <img onclick="img_box(this)" src="/Images/Subhuman/22_EndScreen.png">
                    </div>

                    <table style="border-spacing:20px; color:#a9a9b3;">
                        <tr>
                            <td><b>Engine</b></td>
                            <td>GameMaker</td>
                        </tr>
                        <tr>
                            <td><b>Genre</b></td>
                            <td>Survival Horror</td>
                        </tr>
                        <tr>
                            <td><b>Date</b></td>
                            <td>January/February 2022</td>
                        </tr>
                        <tr>
                            <td><b>Role</b></td>
                            <td>Sole developer</td>
                        </tr>
                    </table>
                    <br>
                    <a href="" target="_blank" rel="noopener" title="View and play the game on itch.io" class="social-button always-white">{{ partial "svg.html" (dict "name" "itchio") }} </a>
                    &nbsp;&nbsp;
                    <a href="https://github.com/MattieOF/Subhuman" target="_blank" rel="noopener" title="View the source code on GitHub" class="social-button always-white">{{ partial "svg.html" (dict "name" "github") }} </a>
                </div>
            </div>


            <div id="hate-to-see" class="game">
                <div style="padding-left:25vw; padding-right: 25vw; text-align:left;">
                    <h2 class="portfolio-header">HATE TO SEE</h2>
                    <p class="portfolio-desc">A 2D platformer in which you must hate to see.</p>
                    <table style="border-spacing:20px; color:#a9a9b3;">
                        <tr>
                            <td><b>Engine</b></td>
                            <td>Unity</td>
                        </tr>
                        <tr>
                            <td><b>Genre</b></td>
                            <td>Platformer</td>
                        </tr>
                        <tr>
                            <td><b>Date</b></td>
                            <td>February 16th 2019 - February 23rd 2019</td>
                        </tr>
                        <tr>
                            <td><b>Role</b></td>
                            <td>Sole developer</td>
                        </tr>
                    </table>
                    <br>
                    <a href="https://mattieof.itch.io/hatetosee" target="_blank" rel="noopener" title="View and play the game on itch.io" class="social-button always-white">{{ partial "svg.html" (dict "name" "itchio") }} </a>
                    &nbsp;&nbsp;
                    <a href="https://github.com/mattiemonster/Hate-To-See" target="_blank" rel="noopener" title="View the source code on GitHub" class="social-button always-white">{{ partial "svg.html" (dict "name" "github") }} </a>
                </div>
            </div>

            <div id="subhuman" class="game">
                <div style="padding-left:25vw; padding-right: 25vw; text-align:left;">
                    <p style="font-weight: bold;">And some others, including:</p>
                    <p><a href="https://mattieof.itch.io/popper" style="color:darkcyan">Popper</a></p>
                    <p><a href="https://github.com/MattieOF/Wolfenstein3DRemake" style="color:darkcyan">Wolfenstein 3D Remake</a></p>
                    <p><a href="https://mattieof.itch.io/exterminator" style="color:darkcyan">Exterminator</a></p>
                </div>
            </div>

            <div class="end-of-section"></div>

            <div id="tools" class="homepage-header color-b" style="margin-top:125px;">GAME ENGINES/TOOLING</div>
            <div id="dough" class="game">
                <div style="padding-left:25vw; padding-right: 25vw; text-align:left;">
                    <h2 class="portfolio-header">DOUGH</h2>
                    <p class="portfolio-desc">In-development 2D game engine written in C++.</p>
                    <table style="border-spacing:20px; color:#a9a9b3;">
                        <tr>
                            <td><b>Language</b></td>
                            <td>C++</td>
                        </tr>
                        <tr style="vertical-align: top;">
                            <td><b>Libraries</b></td>
                            <td>
                                Premake<br/>
                                spdlog<br/>
                                PPK_ASSERT<br/>
                                GLFW<br/>
                                GLAD<br/>
                                Dear ImGui<br/>
                                glm<br/>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Date</b></td>
                            <td>21st October 2022 - Present</td>
                        </tr>
                        <tr>
                            <td><b>Role</b></td>
                            <td>Sole developer</td>
                        </tr>
                    </table>
                    <br>
                    <a href="https://github.com/MattieOF/Dough" target="_blank" rel="noopener" title="View the source code on GitHub" class="social-button always-white">{{ partial "svg.html" (dict "name" "github") }} </a>
                </div>
            </div>
            <div class="end-of-section"></div>

            <div id="web" class="homepage-header color-c" style="margin-top:125px;">WEB STUFF</div>
            <div id="portfolio" class="game">
                <div style="padding-left:25vw; padding-right: 25vw; text-align:left;">
                    <h2 class="portfolio-header">MATTWARE.DEV</h2>
                    <p class="portfolio-desc">Portfolio website created with the Hugo static site generator and a heavily edited version of the Hello World theme.</p>
                    <table style="border-spacing:20px; color:#a9a9b3;">
                        <tr style="vertical-align: top;">
                            <td><b>Language</b></td>
                            <td>HTML, SCSS, JavaScript</td>
                        </tr>
                        <tr style="vertical-align: top;">
                            <td><b>Tools and Libraries</b></td>
                            <td>
                                Hugo<br/>
                                Hello World theme<br/>
                                GitHub Pages<br/>
                                Google Domains<br/>
                            </td>
                        </tr>
                        <tr>
                            <td><b>Date</b></td>
                            <td>November 2022</td>
                        </tr>
                        <tr>
                            <td><b>Role</b></td>
                            <td>Sole developer</td>
                        </tr>
                    </table>
                    <br>
                    <p>Hosted for free using GitHub pages (❤️ GitHub!)</p>
                    <a href="https://github.com/MattieOF/mattieof.github.io" target="_blank" rel="noopener" title="View the source code on GitHub" class="social-button always-white">{{ partial "svg.html" (dict "name" "github") }} </a>
                </div>
            </div>
            <div id="uklc" class="game">
                <div style="padding-left:25vw; padding-right: 25vw; text-align:left;">
                    <h2 class="portfolio-header">ULTRAKILL LEVEL CHOOSER</h2>
                    <p class="portfolio-desc">Small web app to get a random level from the game ULTRAKILL.</p>
                    <a class="button" href="../../UKLevelChooser/index.html" style="display: inline-table;">View the project</a>
                </div>
            </div>
            <div class="end-of-section"></div>

            <div id="software" class="homepage-header color-d" style="margin-top:125px;">OTHER SOFTWARE</div>
            <div id="subhuman" class="game">
                <div style="padding-left:25vw; padding-right: 25vw; text-align:left;">
                    <p style="font-weight: bold;">For anything I may of forgotten, see my <a href="https://github.com/MattieOF" style="color:darkcyan">GitHub.</a></p>
                </div>
            </div>
            <div class="end-of-section"></div>
        </div>

        <script src="/jquery.min.js"></script>
        <script src="/jquery.mousewheel.min.js"></script>
        <script src="/OwlCarousel/owl.carousel.min.js"></script>
        <script src="/img_box.min.js"></script>
    </main>
{{ end }}
